EMAIL_EMBOSS = <EMAIL_EMBOSS>
HF_KEY_TOKEN = <HUGGING_FACE_TOKEN>
SEED = 0
TESTE_SIZE = 0.2
NODE2VEC_DIMENSION = 128
NODE2VEC_WALK_LENGTH = 80
NODE2VEC_NUM_WALKS = 10
NODE2VEC_WORKERS = 8
RUN_MFLOW = <1 = TRUE OR 0 = FALSE>
MLFLOW_PORT = 5000
ML_FLOW_HOST = "127.0.0.1"
ML_FLOW_EXPERIMENT_NAME = <NOME_EXPERIMENTO_PARA_O_ML_FLOW>