.venv
venv
venv381
venv312
.venv-linux
venv_node2vec
.env
Classificador/mlartifacts/*
mlflow.db
Classificador/mlflow.db
data/processed/embeddings/sequence/esm/global.embedding.esm.tsv
data/processed/embeddings/sequence/prot/global.embedding.prot.tsv
data/processed/embeddings/sequence/proteinbert/global.embedding.proteinbert.tsv
classifiers/mlartifacts/*
classifiers/mlruns/*
classifiers/mlflow.db
mlflow_config/mlflow.db